<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Istra Mushrooms</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/layout.css"  asp-append-version="true"/>
    <link rel="icon" type="image/ico" href="/favicon.ico">
</head>
<body style="padding-top: 170px; padding-bottom: 100px;">
    <div id="action-holder" data-request-url="@Url.Action("NumberOfCartItems", "WebShop")"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="row" style="background-color: white;">
            <div class="col-sm-6" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto;">
                <img src="~/Content/images/logo.jpg"  style="width: 48%; max-height: 100px; margin-left: 30%;"/>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Istra Mushrooms</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Početna</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">O Nama</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Proizvodi<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            <li><a asp-controller="Home" asp-action="Products" asp-route-name="@("LavljaGriva")">Lavlja Griva</a></li>
                            <li><a asp-controller="Home" asp-action="Products" asp-route-name="@("HrastovaSjajnica")">Hrastova Sjajnica</a></li>
                            <li><a asp-controller="Home" asp-action="Products" asp-route-name="@("CordycepsMilitaris")">Cordyceps Militaris</a></li>
                            <li><a asp-controller="Home" asp-action="Products" asp-route-name="@("Chaga")">Chaga</a></li>
                            <li><a asp-controller="Home" asp-action="Products" asp-route-name="@("Maitake")">Maitake</a></li>
                            <li><a asp-controller="Home" asp-action="Products" asp-route-name="@("Smrcak")">Smrčak</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Gallery">Galerija</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Zdravlje<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            <li><a href="~/Home/Health">Zdravlje</a></li>
                            <li><a href="~/Home/Health#0">Alergijski rinitis</a></li>
                            <li><a href="~/Home/Health#1">Alzheimerova bolest (AB)</a></li>
                            <li><a href="~/Home/Health#2">Aritmija</a></li>
                            <li><a href="~/Home/Health#3">Astma</a></li>
                            <li><a href="~/Home/Health#4">Bakterijske infekcije</a></li>
                            <li><a href="~/Home/Health#5">Benigna prostatična hiperplazija</a></li>
                            <li><a href="~/Home/Health#6">Demencija</a></li>
                            <li><a href="~/Home/Health#7">Dijabetes</a></li>
                            <li><a href="~/Home/Health#8">Erektilna disfunkcija</a></li>
                            <li><a href="~/Home/Health#9">Gastritis</a></li>
                            <li><a href="~/Home/Health#10">Hepatitis</a></li>
                            <li><a href="~/Home/Health#11">HIV</a></li>
                            <li><a href="~/Home/Health#12">Hipertenzija</a></li>
                            <li><a href="~/Home/Health#13">Neplodnost</a></li>
                            <li><a href="~/Home/Health#14">Inflamatory bowel disease (IBD)</a></li>
                            <li><a href="~/Home/Health#15">Nesanica/Anksioznost</a></li>
                            <li><a href="~/Home/Health#16">Oštećenje bubrega</a></li>
                            <li><a href="~/Home/Health#17">Oštećenje jetre</a></li>
                            <li><a href="~/Home/Health#18">Multipla skleroza</a></li>
                            <li><a href="~/Home/Health#19">Oštećenje živaca</a></li>
                            <li><a href="~/Home/Health#20">Parkinsonova bolest</a></li>
                            <li><a href="~/Home/Health#21">Reumatoidni artritis</a></li>
                            <li><a href="~/Home/Health#22">Rak mozga</a></li>
                            <li><a href="~/Home/Health#23">Rak dojke</a></li>
                            <li><a href="~/Home/Health#24">Rak debelog crijeva</a></li>
                            <li><a href="~/Home/Health#25">Leukemija</a></li>
                            <li><a href="~/Home/Health#26">Rak jetre</a></li>
                            <li><a href="~/Home/Health#27">Rak pluća</a></li>
                            <li><a href="~/Home/Health#28">Linfom</a></li>
                            <li><a href="~/Home/Health#29">Rak prostate</a></li>
                            <li><a href="~/Home/Health#30">Melanom</a></li>
                        </ul>
                    </li>
                    <li><a id="shop-nav-bar-item" asp-area="" asp-controller="WebShop" asp-action="Index"><span class="glyphicon glyphicon-shopping-cart" style="margin-right: 5px;"></span>Trgovina (<span id="number-of-items-nav">0</span>)</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-area="" asp-controller="ManageWebPage" asp-action="Index">Uredi Stranicu</a></li>
                    }
                </ul>
                @if (User.IsInRole("Admin"))
                {
                    @await Html.PartialAsync("~/Views/Shared/_LoginPartial.cshtml");
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="row" style="width: 100%;">
            <div class="col-sm-6">
                <p style="color: white;">&copy; 2018 - Istra mushrooms</p>
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-2">
                <div class="row" style="padding: 5px;">
                    <a href="https://www.facebook.com/istramushrooms"><img src="~/Content/images/facebook-logo.svg" style="max-width: 50px; height: auto; padding-right: 15px;" /></a>
                    <a href="#"><img src="~/Content/images/instagram.png" style="max-width: 50px; height: auto; padding-right: 15px;" /></a>
                    <a href="https://twitter.com/IstraMushrooms"><img src="~/Content/images/twitter-logo-blue.png" style="max-width: 50px; height: auto; padding-right: 15px;" /></a>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
