@using WebShop.Models.Shared;
@model CartItemVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CartItemPartial</title>
</head>
<body>
    <div class="product-div">
        <p class="name-par"><b>@Model.ProductName</b></p>
        <div class="row quantity-div">
            <div class="col-sm-3">
                <p class="quantity-par">Količina: </p>
            </div>
            <div class="row" style="margin: 0px; padding: 0px;">
                <div class="col-sm-2 pull-right">
                    <button class="btn btn-default quantity-button" id="addButton" onclick="addProduct('@Model.ProductID', '@Model.CartItemID')">+</button><br />
                </div>
                <div class="col-sm-2 pull-right">
                    <p class="quantity-par" id="@(Model.CartItemID + "quantity")">@Model.Quantity</p>
                </div>
                <div class="col-sm-2 pull-right">
                    <button class="btn btn-default quantity-button" id="addButton" onclick="removeProduct('@Model.CartItemID')">-</button><br />
                </div>
            </div>
        </div>
        <p>Cijena proizvoda:  @Model.PricePerItem kn</p>
        <p id="@(Model.CartItemID + "cart-item-price")">Ukupno: @Model.TotalPrice kn</p>
        <img class="product-img" src="data:image/png;base64, @Model.ImageData" /><br />
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-danger button" id="addButton" onclick="deleteProduct('@Model.CartItemID')">Ukloni iz košarice!</button>
            </div>
        </div>
    </div>
    <hr />
</body>
</html>
