@using WebShop.Models.WebShop;
@model ProductVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductPartial</title>
</head>
<body>
    <div class="product-div">
        <div class="row">
            <div class="col-sm-6">
                <h3>@Model.Name</h3>
                <p><span><b>Cijena:</b> </span>@Model.Price kn</p>
                <img class="product-img" src="~/Content/products/@Model.ImageName" /><br />
            </div>
            <div class="col-sm-6">
                <p class="description-par">@Html.Raw(Model.Description)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button id="addButton" class="btn btn-primary button" onclick="addProduct('@Model.ProductID')">Dodaj proizvod u košaricu</button><br />
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-default button" asp-controller="ManageWebPage" asp-action="ChangeProductDetails" asp-route-productID="@Model.ProductID">Ažuriraj proizvod</a><br />
                    <a class="btn btn-danger button" asp-controller="ManageWebPage" asp-action="RemoveProduct" asp-route-productID="@Model.ProductID">Makni proizvod iz ponude</a>
                }
            </div>
            <div class="col-sm-6">
                @if (Model.IsInCart)
                {
                    <div>
                        <a asp-controller="WebShop" asp-action="ShoppingCart" class="glyphicon glyphicon-check">Proizvod je u košarici!</a>
                    </div>
                }
                <div id="@(Model.ProductID + "is-in-cart")" hidden>
                    <a asp-controller="WebShop" asp-action="ShoppingCart" class="glyphicon glyphicon-check">Proizvod je u košarici!</a>
                </div>
            </div>
        </div>
    </div>
    <hr />
</body>
</html>
