@using WebShop.Models.ManageWebPage;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PromoCodeVM>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/ManageWebPage/promoCodes.css" asp-append-version="true" />

<h2>Promotivni Kodovi</h2>
<a class="btn btn-primary" style="width: 100%;" asp-action="AddNewPromoCode">Dodaj Novi Promo Kod</a><br />
<hr />
    <table class="promo-code-table">
        <thead>
            <tr>
                <th>Kod</th>
                <th>Kategorija</th>
                <th>Datum Objave</th>
                <th>Iskorišten ?</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@(item.PromoCodeID + "table-row")">
                        <td>@item.Code</td>
                        <td>@item.Category</td>
                        <td>@item.DateCreated</td>
                        <td>@item.IsUsed</td>
                        <td><button onclick="deletePromoCode('@item.PromoCodeID')">Delete</button></td>
                        <td></td>
                    </tr>
                }
        </tbody>
    </table>

@section Scripts {
    <script src="~/js/ManageWebPage/promoCodes.js"></script>
}