@using WebShop.Models.ManageWebPage;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<PromoCodeVM>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/ManageWebPage/promoCodes.css" asp-append-version="true" />

<h2>Promotivni Kodovi</h2>
<div class="row">
    <div class="col-sm-4" style="margin-top: 25px;">
        <a class="btn btn-success button" asp-action="AddNewPromoCode">Dodaj Novi Promo Kod</a><br />
        <a class="btn btn-success button" asp-action="AddNewPromoCodeAutomated">Automatsko Dodavanje Promo Kodova</a><br />
    </div>
    <div class="col-sm-4">
        <label>Sortiraj: </label>
        <a class="btn btn-primary button" asp-action="PromoCodes">Po Datumu Objave</a><br />
        <a class="btn btn-primary button" asp-action="PromoCodesCategory">Po Kategoriji</a><br />
    </div>
    <div class="col-sm-4">
        <label>Filtriraj: </label>
        <a class="btn btn-primary button" asp-action="PromoCodesCategory1">1 gratis</a><br />
        <a class="btn btn-primary button" asp-action="PromoCodesCategory2">2 gratis</a><br />
        <a class="btn btn-primary button" asp-action="PromoCodesCategory3">Popust 100 kn</a><br />
        <a class="btn btn-primary button" asp-action="PromoCodesCategory4">Popust 200 kn</a><br />
        <a class="btn btn-primary button" asp-action="PromoCodesCategory5">Popust 50%</a><br />
        <a class="btn btn-primary button" asp-action="PromoCodesCategory6">Popust 25%</a><br />
    </div>
</div>
<hr />
@if (Model.Count > 0)
{
    <table class="promo-code-table">
        <thead>
            <tr>
                <th>Kod</th>
                <th>Kategorija</th>
                <th>Datum Objave</th>
                <th>Iskorišten ?</th>
                <th>Izbriši</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@(item.PromoCodeID + "table-row")">
                    <td>@item.Code</td>
                    <td>@item.Category</td>
                    <td>@item.DateCreated</td>
                    <td>@item.IsUsed</td>
                    <td>
                        <!--
                        @if (!item.IsUsed)
                        {
                            <button onclick="deletePromoCode('@item.PromoCodeID')">Delete</button>
                        }
                        -->
                        <button onclick="deletePromoCode('@item.PromoCodeID')">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <label>Nema Promo Kodova Za Prikaz!</label>
}



@section Scripts {
    <script src="~/js/ManageWebPage/promoCodes.js"></script>
}