@using WebShop.Models.NewOrder
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NewOrderVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/NewOrder/index.css" asp-append-version="true" />
</head>

<h2>Narudžba</h2>

<table class="check-out-items-table">
    <thead>
        <tr>
            <th>Proizvod</th>
            <th>Količina</th>
            <th>Cijena po komadu</th>
            <th>Ukupna cijena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCartVM.CartItemsVM)
    {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.PricePerItem</td>
                <td>@item.TotalPrice</td>
            </tr>
    }
    </tbody>
</table>
<p>Ukupno: @Model.TotalPrice</p>
<p>Popust: @Model.Discount</p>
<p>Za platiti: @(Model.TotalPrice - Model.Discount)</p>
<p>Ime: @Model.Name</p>
<p>Prezime: @Model.Surname</p>
<p>Adresa 1: @Model.StreetAdress1</p>
<p>Adresa 2: @Model.StreetAdress2</p>
<p>Grad: @Model.City</p>
<p>Poštanski broj: @Model.PostalCode</p>
<p>Država: @Model.Country</p>
<p>Email: @Model.Email</p>
<p>Broj mobitela: @Model.MobilePhoneNumber</p>
<p>Broj telefona: @Model.PhoneNumber</p>
<p>Promo Code: @Model.PromoCode</p>
<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-primary" asp-action="CompleteOrder" asp-route-orderID="@Model.OrderID">Dovrši Narudžbu</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-primary" asp-action="ChangeOrderDetails" asp-route-orderID="@Model.OrderID">Promjeni Podatke</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-danger" asp-action="CancleOrder" asp-route-orderID="@Model.OrderID">Otkaži Narudžbu</a>
    </div>
</div>