@using WebShop.Models.NewOrder
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NewOrderVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/NewOrder/index.css" asp-append-version="true" />
</head>

<h2>Narudžba</h2>

<div class="row">
    <table class="check-out-items-table">
        <thead>
            <tr>
                <th>Proizvod</th>
                <th>Količina</th>
                <th>Cijena po komadu</th>
                <th>Ukupna cijena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCartVM.CartItemsVM)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.PricePerItem</td>
                    <td>@item.TotalPrice</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<div class="row">
    <div class="col-sm-5">
        <div class="row total-div">
            <label class="total-label">Ukupno: </label><p class="total-par">@Model.TotalPrice kn</p>
            <label class="total-label">Popust: </label><p class="total-par">@Model.Discount kn</p>
            <label class="total-label">Za platiti: </label><p class="total-par">@Model.PriceToPay kn</p>
        </div>
        <p><b>Ime:</b> @Model.Name</p>
        <p><b>Prezime:</b> @Model.Surname</p>
        <p><b>Adresa 1:</b> @Model.StreetAdress1</p>
        <p><b>Adresa 2:</b> @Model.StreetAdress2</p>
        <p><b>Grad:</b> @Model.City</p>
        <p><b>Poštanski broj:</b> @Model.PostalCode</p>
        <p><b>Država:</b> @Model.Country</p>
        <p><b>Email:</b> @Model.Email</p>
        <p><b>Broj mobitela:</b> @Model.MobilePhoneNumber</p>
        <p><b>Broj telefona:</b> @Model.PhoneNumber</p>
        <p><b>Promo Code:</b> @Model.PromoCode</p>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-success button" asp-action="CompleteOrder" asp-route-orderID="@Model.OrderID">Dovrši Narudžbu</a><br />
                <a class="btn btn-primary button" asp-action="ChangeOrderDetails" asp-route-orderID="@Model.OrderID">Promjeni Podatke</a><br />
                <a class="btn btn-danger button" asp-action="CancleOrder" asp-route-orderID="@Model.OrderID">Otkaži Narudžbu</a><br />
            </div>
        </div>
    </div>
</div>